
<div class="media" [ngStyle]="{'text-align': 'center'}">
    <img class="align-self-center mr-3 img-thumbnail" [ngStyle]="{'max-width': '500px', 'max-height': '200px'}" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" alt="Star Wars Logo">
    <div class="media-body">
        <h5 class="mt-0">{{title}}</h5>
        <p [ngStyle]="{'text-align': 'justify'}">Star Wars (conocida también en español como La guerra de las galaxias) es una franquicia compuesta primordialmente de una serie de películas concebidas por el cineasta estadounidense George Lucas, y producidas y distribuidas por The Walt Disney Company a partir de 2012. Su trama describe las vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan con elementos como «la Fuerza», un campo de energía metafísico y omnipresente4​ que posee un «lado oscuro» provocado por la ira, el miedo y el odio.</p>
    </div>
</div>